

body {
    background-color: #f8f9fa;
}

/* --- Slider Container --- */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* max-width: 900px; */
    margin: 35px auto;
}

/* --- Track (dải các thẻ chạy ngang) --- */
.slider-track {
    display: flex;
    transition: transform 0.8s ease;
}

/* --- Mỗi item --- */
.banner{
    min-width: 100%;
    flex-shrink: 0;
    transition: transform 0.8s ease, opacity 0.5s ease;
    box-sizing: border-box;
    padding: 40px;
}

/* --- Nút điều hướng --- */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-btn.prev {
    left: 10px;
}

.slider-btn.next {
    right: 10px;
}

.create-request {
    background-image: url('../img/create.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.review_request{
    background-image: url('../img/review.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.agenda{
    background-image: url('../img/agenda.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.banner h1 {
    color: #ffd106;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}




/* ===== Footer ===== */
.footer {
    background: linear-gradient(135deg, #007bff, #00bcd4);
    color: white;
    text-align: center;
    padding: 25px 10px;
    font-size: 0.95rem;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    margin-top: auto;
}

.footer p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.footer span {
    color: #ffe082;
}

/* header, .footer {
    animation: fadeInUp 0.7s ease forwards;
} */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}