*{
    animation: fadeInUp 0.7s ease forwards;
}
/* Đặt phông chữ và căn giữa toàn trang */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ffffff, #f5f7fa, #4ca1af);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Khung chính của form login */
.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px 50px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

/* Tiêu đề */
.login-container h2 {
    color: #357f89;
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: 700;
}

/* Form chính */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Ô nhập liệu */
.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 12px;
    margin-bottom: 15px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
}

/* Hiệu ứng hover/focus */
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

/* Checkbox remember */
.login-form label {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
    margin-bottom: 20px;
}

.login-form input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
}

/* Nút submit */
.login-form input[type="submit"] {
    background-color: #4ca1af;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #357f89;
}

.login-form input[type="submit"]:active {
    transform: scale(0.97);
}

/* Thông báo lỗi hoặc tin nhắn */
.message {
    color: #f00a0a;
    /* display: none; */
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: left;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Responsive cho điện thoại */
@media (max-width: 450px) {
    .login-container {
        width: 90%;
        padding: 30px;
    }
}